@import-normalize; 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a,
p,
h1,
h2,
h3,
span,
button,
input {
  font-family: 'Monrope', sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
