@import-normalize;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a,
p,
h1,
h2,
h3,
span,
button,
input {
  font-family: "Monrope", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: lightcyan;
}
.app {
  margin: 0 auto;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
#map {
  width: 900px;
  height: 700px;
}
.logo {
  display: flex;
  column-gap: 24px;
}

.hero {
  font-size: 68px;
  background-image: linear-gradient(
    270deg,
    #4285f4 10%,
    #34a853 33%,
    #fbbc05 66%,
    #ea4335 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.google-map {
  width: 900px;
  min-height: 700px;
  border-radius: 12px;
  cursor: grabbing;
}
.text {
  color: #fbbc05;
}
button {
  outline: none;
  cursor: pointer;
  display: block;
  border: none;
}
.delete-button {
  margin: auto;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: transparent;
}
.delete-all-markers {
  height: 40px;
  padding: 0px 17px;
  position: absolute;
  top: 10px;
  left: 200px;

  font-size: 18px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}
